version: "3.9"

services:
  db:
    image: postgres:16
    container_name: taskmanager-db
    environment:
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpass
      POSTGRES_DB: taskdb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: ./app/backend
    container_name: taskmanager-backend
    environment:
      DATABASE_URL: postgresql://taskuser:taskpass@db:5432/taskdb
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    build: ./app/frontend
    container_name: taskmanager-frontend
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  db-data:
